= form_tag sessions_path do
  = label_tag :username, "Username"
  = text_field_tag :username
  %br
  = submit_tag "Sign in", class: "btn"

= link_to "Donate $5 to keep the Todo app awesome!", new_payment_path
