!!! 5
%html(lang="en-US")
  %head
    %title Todo App
    = stylesheet_link_tag "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
    = yield :head
  %body.container
    %header
      %h1= link_to "Todos!", root_path
      = render 'shared/messages'
    = yield
